* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  min-height: 100vh;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
small,
button {
  font-family: Poppins, sans-serif;
}
